<div mat-dialog-title>
  <h1>Change password Form</h1>
</div>
<form [formGroup]="changePassForm" (ngSubmit)="onSubmitForm()">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="password" placeholder="Ex. pass123" formControlName="newPassword">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>
