
<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button class="btn" color="warn" (click)="openAddEmployeeForm()" [disabled]="!addEmployeeAvailable">
      ADD EMPLOYEE
    </button>
    <button mat-raised-button class="btn" color="warn" (click)="openAddDepartmentForm()" [disabled]="!addDepartmentAvailable">
      ADD DEPARTMENT
    </button>
    <button mat-raised-button class="btn" color="warn" (click)="openAddChangePasswordForm()">
      CHANGE PASSWORD
    </button>
  </mat-toolbar>

  <h1>Employees</h1>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 body">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="managerId">
      <th mat-header-cell *matHeaderCellDef> Manager ID </th>
      <td mat-cell *matCellDef="let element"> {{element.managerId}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="departmentId">
      <th mat-header-cell *matHeaderCellDef> Department ID </th>
      <td mat-cell *matCellDef="let element"> {{element.departmentId}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="openEditForm(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteEmployee(row.id,row.role)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <h1>Departments</h1>
  <table mat-table [dataSource]="dataSourceDep" class="body">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="openEditFormDep(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteDepartment(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsDep"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsDep;"></tr>
  </table>


<router-outlet></router-outlet>
